title = yield(:meta_title).presence || "Lunge Laufladen in Hamburg & Berlin"
meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1.0"
meta name="keywords" content=(yield(:meta_keywords).presence || "lunge, laufen, laufschuhe, kaufen, händler, beratung, videoanalyse")
meta name="description" content=(yield(:meta_description).presence || "Ihr Fachhändler für Laufschuhe und -bekleidung in Hamburg und Berlin - mit Hilfe kompetenter Beratung und optionale Videoanalyse finden Sie bei uns den passenden Schuh")