title = yield(:meta_title).presence || "Lunge - Der Laufladen in Hamburg & Berlin"
meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1.0"
meta name="keywords" content=(yield(:meta_keywords).presence || "lunge, laufen, laufschuhe, kaufen, händler, beratung, videoanalyse")
meta name="description" content=(yield(:meta_description).presence || "Ihr Fachhändler für Laufschuhe und -bekleidung in Hamburg und Berlin - mit Hilfe kompetenter Beratung und optionale Videoanalyse finden Sie bei uns den passenden Schuh")

// iOS meta tags
meta name="apple-mobile-web-app-title" content="Lunge Laufladen"
meta name="apple-mobile-web-app-capable" content="yes"
link rel="apple-touch-icon" href=image_url("touch-icon-iphone.png")
link rel="apple-touch-icon" sizes="76x76" href=image_url("touch-icon-ipad.png")
link rel="apple-touch-icon" sizes="120x120" href=image_url("touch-icon-iphone-retina.png")
link rel="apple-touch-icon" sizes="152x152" href=image_url("touch-icon-ipad-retina.png")
link href=image_url("apple-touch-startup-image-1536x2008.png") media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"
link href=image_url("apple-touch-startup-image-2048x1496.png") media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"
link href=image_url("apple-touch-startup-image-640x1096.png") media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"