= display_meta_tags site: "Lunge - Der Laufladen",
                    reverse: true
= canonical_tag

meta name="viewport" content="width=device-width, initial-scale=1.0"

// iOS meta tags
meta name="apple-mobile-web-app-title" content="Lunge Laufladen"
meta name="apple-mobile-web-app-capable" content="yes"
link rel="apple-touch-icon" href=image_url("touch-icon-iphone.png")
link rel="apple-touch-icon" sizes="76x76" href=image_url("touch-icon-ipad.png")
link rel="apple-touch-icon" sizes="120x120" href=image_url("touch-icon-iphone-retina.png")
link rel="apple-touch-icon" sizes="152x152" href=image_url("touch-icon-ipad-retina.png")
link href=image_url("apple-touch-startup-image-1536x2008.png") media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"
link href=image_url("apple-touch-startup-image-2048x1496.png") media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"
link href=image_url("apple-touch-startup-image-640x1096.png") media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"