<!-- title bar -->
<%= content_for :title_bar do %>
  <h1>Filialen</h1>
  <h2 class="subtitle"><small>3x in Hamburg / 1x in Berlin</small></h2>
<% end %>

<section>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h4>Hamburg</h4>
      <% @stores.where(city: "Hamburg").each do |store| %>
        <%= render partial: "/stores/card", locals: { store: store } %>
      <% end %>
    </div>
    <div class="small-12 medium-6 columns">
      <h4>Berlin</h4>
      <% @stores.where(city: "Berlin").each do |store| %>
        <%= render partial: "/stores/card", locals: { store: store } %>
      <% end %>
    </div>
  </div>
</section>

<%= link_to 'New Store', new_store_path %>
