<!-- title bar -->
<%= content_for :title_bar do %>
	<h1>Produktgruppen</h1>
<% end %>


<!-- content -->
<section>
	<ul class="no-bullet">
	<% nested_set_options(ProductCategory, @product_category) do |category| %>
		<li><h6><%= link_to ("#{' ┄ ' * category.level} #{category.name}"), product_category_path(category) %></h6></li>
	<% end %>
	</ul>
</section>

<div class="row">
	<div class="small-12 columns">
		<%= link_to "Produktgrupper erstellen", new_product_category_path, class: "button" %>
	</div>
</div>