var longitude = $("#map-google").data("longitude")
var latitude = $("#map-google").data("latitude")


function initialize() {
    var latlng = new google.maps.LatLng(latitude, longitude);
    var mapOptions = {
        center: latlng,
        zoom: 15,
        mapTypeControl: false,
        zoomControl: true,
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL
        },
        backgroundColor: "mintcream",
        styles:
[
    {
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#B0EFDE"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#1900ff"
            },
            {
                "color": "#c0e8e8"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "geometry.fill"
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#F5FFFA"
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "stylers": [
            {
                "color": "#A5D9EB"
            }
        ]
    },
    {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": 20
            }
        ]
    }
]
    };

    var map = new google.maps.Map(document.getElementById("map-google"), mapOptions);

    var current_store = new google.maps.Marker({
      position: latlng,
      map: map,
      title: 'Lunge Laufladen'
    });

    var infowindow = new google.maps.InfoWindow({
      content: "<h4>Lunge Laufladen</h4><p>Lämmersieth 1<br>22305 Hamburg<br>Deutschland</p>"
    });

    google.maps.event.addListener(current_store, 'click', function() {
        infowindow.open(map,store_marker);
    });

}

google.maps.event.addDomListener(window, 'load', initialize);