<!-- title bar -->
<%= content_for :title_bar do %>
  <h1>Beiträge</h1>
<% end %>


<!-- content -->
<div class="row">
  <div class="small-12 columns">

    <ul class="small-block-grid-1 medium-block-grid-3">
      <% @posts.each do |post| %>
        <%= render partial: "posts/card", locals: { post: post } %>
      <% end %>
    </ul>

  </div>
</div>

<%= link_to 'New Post', new_post_path %>
