/* --- OVERLAY --- */
.overlay {
  display: none;
  background-color: $background-color;
  z-index: 1;
  transition: 140ms ease-in-out;
}

body.offcanvas .overlay {
  opacity: 0.6;
  display: block;
  position: absolute;
  left: 4rem;
  right: 0;
  top: 0;
  bottom: 0;
}





/* --- HEADER --- */
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.header__logo-container {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  height: 2rem;
}

.header__logo {
  height: 1.2rem;
}





/* --- FOOTER --- */
.footer__container {
  @include tablet-landscape {
    display: flex;
    flex-flow: row wrap;
  }
}

.footer__column {
  @include tablet-landscape {
    flex: 0 1 auto;
    margin-right: 4rem;
    max-width: 300px;
  }
}





/* --- PANEL GRID --- */
.panel__grid {
  height: 33vh;
  margin: -0.5rem;

  @include tablet-portrait {
    height: 66vh;
  }
}

.panel__container {
  display: flex;
  height: 100%;
}

.panel__container--vertical {
  flex-direction: column;
}

.panel {
  flex: 1 1 50%;
  margin: 0.5rem;
  background-size: cover;
  background-position: center;
}

.panel__container > .panel__container {
  flex-basis: 50%;
}




/* --- NAVIGATION --- */
nav.header__nav {
  display: none;
  flex: 0 0 auto;

  @include desktop {
    display: block;
  }
}

ul.header-nav {
  list-style: none;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

li.header-nav__item {
  margin-left: 1rem;
}

ul.offcanvas-nav {
  font-size: 2rem;
  font-weight: 700;
  list-style: none;
}





/* ----- CARDS ----- */
.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: $gutter;
}

.card {
  position: relative;
  background-color: $white;
  transition: 140ms ease-in-out;
}

a.card:hover {
  transform: translate(-8px, -8px);
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.06);
}

.card--medium {
  max-width: 100%;
  flex-basis: 250px;
}

.card--store {
}

.card--small {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1 0 auto;
  width: 250px;
}

.card--large {
  flex: 1 1 auto;
  width: 100%;
}

.card__figure {
}

.card__figure--colored {
  background-color: $primary-color;
}

.card__image {
  width: 100%;
}

.card__icon {
  margin: auto;
  padding: 2rem;

  @include tablet-portrait {
    padding: 4rem;
  }
}

.card--large .card__icon {
  width: 50%;
}

.card--medium .card__icon {
  width: 100%;
}

.card__description {
  padding: 1rem;
}

.card--small .card__figure {
  flex: 0 0 auto;
  height: 100px;
  width: 100px;
}

.card__small .card__description {
  flex: 0 1 auto;
}

.card--large .card__figure {
}

.card__large .card__description {
  flex: 0 1 auto;
}




.folded-top-right {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  color: #fff;
  border-top: solid 25px $primary-color;
  border-right: solid 25px $primary-color;
  border-left: solid 25px transparent;
  border-bottom: solid 25px transparent;
}

.folded-top-left {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  color: #fff;
  border-top: solid 25px $primary-color;
  border-right: solid 25px transparent;
  border-left: solid 25px $primary-color;
  border-bottom: solid 25px transparent;
}

.folded-top-right-text {
  transform: rotate(45deg);
  position: absolute;
  top: -22px;
  right: -17px;
}



.sort-section {
  font-size: 0.875rem;
  font-weight: 300;
}

.sort_link.asc,
.sort_link.desc {
  font-style: italic;
}





/* --- LISTS --- */
ul.list--unstyled {
  list-style: none;
}

ul.vertical-list {
  list-style: none;
  margin-bottom: 2rem;
}

ul.inline-list {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

ul.inline-list li {
  flex: 0 0 auto;
  margin-right: 1rem;
}

ul.brands__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

li.brands__item {
  flex: 0 0 auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

a.brands__logo {
  display: block;
  padding: 1rem;
}

a.brands__logo:hover {
  background-color: $white;
}

ul.category-list {
  list-style: none;
}

.category-list__item--active {
  font-weight: 700;
}

ul.list--disc {
  list-style: disc;
}




/* ----- TAGS ----- */

.label {
  background-color: $white;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  padding: 0.25rem 0.5rem;
  font-size: 0.8125rem;
  border: 1px solid $hairline-color;
}

.label--draft {
  background-color: $primary-color;
  color: $white;
}

a.label:hover {
  background-color: $primary-color;
  color: $white;
}

.suffix {
  font-size: 90%;
  padding-left: 0.5rem;
}

.tag-to-add {
}

a.tag-to-remove {
  background-color: $primary-color;
  color: #fff;

  &:hover {
    background-color: scale-color($primary-color, $lightness: -20%)
  }
}








/* ----- PAGINATION ----- */
ul.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.pagination__item {
  margin: 0.5rem;
}

li.pagination__item--current a {
  background-color: $primary-color;
  color: $white;
}

li.pagination__item--number,
li.pagination__item--gap {
  display: none;
  
  @include tablet-portrait {
    display: block;
  }
}

a.pagination__link {
  display: block;
  background-color: $white;
  padding: 0.5rem 1rem;
}

a.pagination__link:hover {
  background-color: $primary-color;
  color: $white;
}







/* ----- STOCK ----- */

.availability-badge {
  background-color: $white;
  display: inline-block;
  font-size: 0.825rem;
  padding: 0.25rem;
  min-width: 2rem;
  text-align: center;
  margin: 0 0.5rem 0.5rem 0;
}

.true {
  border-color: limegreen;
  background-color: limegreen;
  color: #fff;
}

.false {
  color: #bbb;
}






/* ----- ACTIONS ----- */

.actions {
  margin: 3rem 0;
}





/* ----- CALENDAR ----- */

table.calendar {
  width: 100%;
  border: none;

  tr {
    background-color: transparent;
    border-bottom: 1px solid $secondary-color;
  }

  td {
    vertical-align: top;
    position: relative;
    border-top: 1px solid $secondary-color;
  }

  td.today {
    background-color: $secondary-color;
  }

  .date-header {

  }

  .date-content {
  }

  .event-item {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    
    &:hover {
      opacity: 0.8;
    }
  }

  .event-header {
    padding: 0.2rem 0.5rem;
  }

  .event-details {
    background-color: linen;
    padding: 0.2rem 0.5rem;
    display: none;
    font-size: 0.875rem;
  }

  .prev-month,
  .next-month {
    opacity: 0.4;
  }

}

#tag-cloud {
  line-height: 1.5rem;

  .tag-item {
    padding: 0 0.5rem;

    &:hover {
      background-color: steelblue;
    }
  }

  .xs {
    opacity: 0.3;
  }
  .s {
    opacity: 0.5;
  }
  .m { opacity: 0.7; }
  .l { opacity: 0.8; }
  .xl {
    opacity: 1;
  }
}


/* --- PANORAMA --- */
.panorama__container {
  width: 100%;
  height: 50vh;
}