.notice {
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  font-size: 0.825rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

/* --- OVERLAY --- */
.overlay {
  display: none;
  background-color: $background-color;
  z-index: 1;
  transition: 140ms ease-in-out;
  cursor: w-resize;
}

body.offcanvas .overlay {
  opacity: 0.6;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 4rem;
  bottom: 0;

  @include tablet-portrait {
    left: 4rem;
    top: 0;
  }
}





/* --- HEADER --- */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.header__logo-container {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  height: 2rem;
  margin-right: 2rem;
}

.header__logo {
  height: 1.2rem;
}





/* --- FOOTER --- */
.footer__container {
  @include tablet-landscape {
    display: flex;
    flex-flow: row wrap;
  }
}

.footer__column {
  @include tablet-landscape {
    flex: 0 1 auto;
    margin-right: 4rem;
    max-width: 300px;
  }
}





/* --- PANEL GRID --- */
.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(8, minmax(150px, auto));
  grid-gap: $gutter;
  grid-auto-flow: dense;
}

.showcase__item {
  background-color: $white;
  padding: $gutter;
}

.showcase__description {
  background-color: $white;
}

.grid-nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:  "stores"
                        "products"
                        "sale"
                        "blog";
  grid-gap: $gutter;
  grid-auto-flow: dense;
  height: 100vh;

  @include tablet-portrait {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:  "stores stores products products"
                          "stores stores clothing blog"
                          "sale running-shoes running-shoes running-shoes";
    height: 50vh;
  }
}

.grid-nav__item {
  background-color: $white;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  transition: 140ms ease-in-out;
}

.grid-nav__item:hover {
  transform: translate(-8px, -8px);
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.06);
}

.grid-nav__stores {
  grid-area: stores;
  background-image: image-url("frontpage_stores.jpg");
}

.grid-nav__products {
  grid-area: products;
  background-image: image-url("frontpage_products.jpg");
}

.grid-nav__clothing {
  display: none;
  grid-area: clothing;
  background-image: image-url("frontpage_clothing.jpg");

  @include tablet-portrait {
    display: flex;
  }
}

.grid-nav__blog {
  grid-area: blog;
  background-image: image-url("frontpage_blog.jpg");
}

.grid-nav__sale {
  grid-area: sale;
  background-color: $primary-color;
  background-image: image-url("frontpage_sale.svg");
  background-size: 33%;
  background-position: center 80%;
  background-repeat: no-repeat;
}

.grid-nav__running-shoes {
  grid-area: running-shoes;
  display: none;
  background-image: image-url("frontpage_running-shoes.jpg");

  @include tablet-portrait {
    display: flex;
  }
}

.grid-nav__image {
  flex: 1 1 auto;
  background-size: cover;
  background-position: center;
}

.grid-nav__text {
  padding: $gutter;
  background-color: $white;
  width: auto;
  transition: 140ms ease-in-out;
}

.grid-nav__item:hover .grid-nav__text {
  flex: 1 1 auto;
  background: linear-gradient(to bottom, #fff, $white-transparent);
}

.grid-nav__header {
  font-weight: 700;
}

.grid-nav__description {
  display: none;
}

.grid-nav__item:hover .grid-nav__description {
  display: block;
}




/* --- NAVIGATION --- */
nav.header__nav {
  display: none;
  align-items: center;
  flex: 0 0 auto;

  @include tablet-portrait {
    display: block;
  }
}

ul.header-nav {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin: 0;
}

li.header-nav__item {
  margin-left: 1rem;
}

li.header-nav__item:first-child {
  margin: 0;
}

ul.offcanvas-nav {
  font-size: 2rem;
  font-weight: 700;
  list-style: none;
}



/* --- CART BUTTON --- */
.cart-button {
  @include transition();
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  border: 1px solid $hairline-color;
}

.cart-button:hover {
  border-color: $green;
  @include shadow();
}

.cart-button__icon {
  width: 16px;
  fill: white;
}

.cart-button__count {
  margin-left: 0.5rem;
  font-size: 0.825rem;
}





/* ----- CARDS ----- */
.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: $gutter;

  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.card {
  position: relative;
  background-color: $white;
  transition: 140ms ease-in-out;
}

.card--shadow {
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.06);
}

.card--narrow {
  width: 100;
  max-width: 50em;
}

a.card:hover {
  transform: translate(-8px, -8px);
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.06);
}

.card--medium {
  max-width: 100%;
  flex-basis: 250px;
}

.card--store {
}

.card--small {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1 0 auto;
}

.card--large {
  flex: 1 1 auto;
  width: 100%;
}

.card__figure {
}

.card__figure--colored {
  background-color: $primary-color;
}

.card__image {
  width: 100%;
}

.card__icon {
  margin: auto;
  padding: 2rem;

  @include tablet-portrait {
    padding: 4rem;
  }
}

.card--large .card__icon {
}

.card--medium .card__icon {
  width: 100%;
}

.card__description {
  padding: 1rem;
}

.card--small .card__figure {
  flex: 0 0 auto;
  height: 100px;
  width: 100px;
}

.card__small .card__description {
  flex: 0 1 auto;
}

.card--large .card__figure {
}

.card__large .card__description {
  flex: 0 1 auto;
}




.folded-top-right {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  color: #fff;
  border-top: solid 25px $primary-color;
  border-right: solid 25px $primary-color;
  border-left: solid 25px transparent;
  border-bottom: solid 25px transparent;
}

.folded-top-left {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  color: #fff;
  border-top: solid 25px $primary-color;
  border-right: solid 25px transparent;
  border-left: solid 25px $primary-color;
  border-bottom: solid 25px transparent;
}

.folded-top-right-text {
  transform: rotate(45deg);
  position: absolute;
  top: -22px;
  right: -17px;
}



.sort-section {
  font-size: 0.875rem;
  font-weight: 300;
}

.sort_link.asc,
.sort_link.desc {
  font-style: italic;
}




/* --- PRODUCT PAGE --- */
.product-images__main-image,
.product-images__thumbnail {
  border: 1px solid $hairline-color;
}

.product-images__thumbnail {
  @include transition;
  margin-bottom: 1rem;
}

.product-images__thumbnail:hover {
  @include hover-effect;
  border-color: $green;
  cursor: pointer;
}

.product-images__thumbnail--active {
}

.brand__container {
  display: flex;
  align-items: center;
}

.brand__logo {
  flex: 0 1 auto;
  margin-right: 0.5rem;
}

.brand__name {
  flex: 1 1 auto;
}

.product__add-to-cart-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid $hairline-color;
  align-items: flex-start;

  @include tablet-portrait {
    flex-direction: row;
    padding: 2rem;
  }
}

.product__add-to-cart-button {
  flex: 0 0 auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid $hairline-color;

  @include tablet-portrait {
    padding-right: 2rem;
    padding-bottom: 0;
    border-right: 1px solid $hairline-color;
    border-bottom: 0;
  }
}

.product__add-to-cart-help {
  padding-top: 1rem;

  @include tablet-portrait {
    padding-top: 0;
    padding-left: 2rem;
  }
}

.product__vat-notice {
  font-size: 0.825rem;
  margin-bottom: 1rem;
}


/* --- LISTS --- */
ul.list--unstyled {
  list-style: none;
}

ul.list--inside {
  list-style-position: inside;
}

ul.vertical-list {
  list-style: none;
  margin-bottom: 2rem;
}

ul.inline-list {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

ul.inline-list li {
  flex: 0 0 auto;
  margin-right: 1rem;
}

ul.brands__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

li.brands__item {
  flex: 0 0 auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

a.brands__logo {
  display: block;
  padding: 1rem;
}

a.brands__logo:hover {
  background-color: $white;
}

ul.category-list {
  list-style: none;
}

.category-list__item--active {
  font-weight: 700;
}

ul.list--disc {
  list-style: disc;
}




/* ----- TAGS ----- */

.label {
  background-color: $white;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  padding: 0.25rem 0.5rem;
  font-size: 0.8125rem;
  border: 1px solid $hairline-color;
}

.label--draft {
  background-color: $primary-color;
  color: $white;
}

a.label:hover {
  background-color: $primary-color;
  color: $white;
}

.suffix {
  font-size: 90%;
  padding-left: 0.5rem;
}

.tag-to-add {
}

a.tag-to-remove {
  background-color: $primary-color;
  color: #fff;

  &:hover {
    background-color: scale-color($primary-color, $lightness: -20%)
  }
}








/* ----- PAGINATION ----- */
ul.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.pagination__item {
  margin: 0.5rem;
}

li.pagination__item--current a {
  background-color: $primary-color;
  color: $white;
}

li.pagination__item--number,
li.pagination__item--gap {
  display: none;
  
  @include tablet-portrait {
    display: block;
  }
}

a.pagination__link {
  display: block;
  background-color: $white;
  padding: 0.5rem 1rem;
}

a.pagination__link:hover {
  background-color: $primary-color;
  color: $white;
}







/* ----- STOCK ----- */

.availability-badge {
  background-color: $white;
  display: inline-block;
  font-size: 0.825rem;
  padding: 0.25rem;
  min-width: 2rem;
  text-align: center;
  margin: 0 0.5rem 0.5rem 0;
}

.true {
  border-color: limegreen;
  background-color: limegreen;
  color: #fff;
}

.false {
  color: #bbb;
}






/* ----- ACTIONS ----- */

.actions {
  margin: 3rem 0;
}





/* ----- CALENDAR ----- */

table.calendar {
  width: 100%;
  border: none;

  tr {
    background-color: transparent;
    border-bottom: 1px solid $secondary-color;
  }

  td {
    vertical-align: top;
    position: relative;
    border-top: 1px solid $secondary-color;
  }

  td.today {
    background-color: $secondary-color;
  }

  .date-header {

  }

  .date-content {
  }

  .event-item {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    
    &:hover {
      opacity: 0.8;
    }
  }

  .event-header {
    padding: 0.2rem 0.5rem;
  }

  .event-details {
    background-color: linen;
    padding: 0.2rem 0.5rem;
    display: none;
    font-size: 0.875rem;
  }

  .prev-month,
  .next-month {
    opacity: 0.4;
  }

}

#tag-cloud {
  line-height: 1.5rem;

  .tag-item {
    padding: 0 0.5rem;

    &:hover {
      background-color: steelblue;
    }
  }

  .xs {
    opacity: 0.3;
  }
  .s {
    opacity: 0.5;
  }
  .m { opacity: 0.7; }
  .l { opacity: 0.8; }
  .xl {
    opacity: 1;
  }
}


/* --- PANORAMA --- */
.panorama__container {
  width: 100%;
  height: 50vh;
}