$primary-color: #D82B4E;
$secondary-color: #F7F7F0;
$hairline-color: #DDD;
$body-bg: mintcream;
$alert-color: #E40D46;

$body-font: "ff-meta-web-pro", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$header-font: "freight-sans-pro","Helvetica Neue", "Helvetica", "Arial", "sans-serif";

.l {
  background-color: #FF9999;
  color: #fff;
}

.c {
  background-color: #616E74;
  color: #fff;
}

.f {
  background-color: #35DD5F;
  color: #fff;
}

.s {
  background-color: #FF9966;
  color: #fff;
}

.b1 {
  background-color: #00CCFF;
  color: #fff;
}

.m {
  background-color: #4D2566;
  color: #fff;
}

// animation
#rotate > .fadeInUp {
  @include animation-duration(400ms);
}