$primary-color: #D82B4E;
$secondary-color: #F7F7F0;
$body-bg: mintcream;
$alert-color: #E40D46;

.l {
  background-color: #FF9999;
  color: #fff;
}

.c {
  background-color: #616E74;
  color: #fff;
}

.f {
  background-color: #35DD5F;
  color: #fff;
}

.s {
  background-color: #FF9966;
  color: #fff;
}

.b1 {
  background-color: #00CCFF;
  color: #fff;
}

.m {
  background-color: #4D2566;
  color: #fff;
}