body {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  background-color: $background-color;
  margin: 0;
  transition: 140ms ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body.offcanvas {
  transform: translateX(250px);
}

body.offcanvas .content,
body.offcanvas .offcanvas__container,
body.offcanvas .border {
}

.offcanvas__container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $hairline-color;
  background-color: $white;
  padding: 1rem;
  transition: 140ms ease-in-out;
}

.offcanvas__menu {
  flex: 1 0 auto;
}

.offcanvas__footer {
  flex: 0 0 auto;
}

.border {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 1px solid $hairline-color;
  width: 4rem;
  transition: 140ms ease-in-out;
}

.border__logo {
  flex: 0 0 auto;
  padding: 1rem;
  width: 100%;
}

.border__logo img {
  width: 100%;
}

.border__logo:hover {
  background-color: $primary-color;
}

.border__menu-toggle {
  flex: 1 1 auto;
  padding: 1rem;
  margin: auto;
}

.border__menu-icon {
  width: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 4rem;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 140ms ease-in-out;
  -webkit-overflow-scrolling: touch;
}

.yield {
  flex: 1 0 auto;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
  width: calc(100% - 2rem);
  max-width: 85em;

  @include tablet-portrait {
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
  }

  @include tablet-landscape {
    width: calc(100% - 8rem);
    margin-left: 4rem;
    margin-right: auto;
  }
}

header {
  flex: 0 0 auto;
}

main,
.two-columns {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include tablet-landscape {
    flex-direction: row;
  }
}

.title {
  margin: 4rem 0;
}


article {
  width: 100%;

  @include tablet-landscape {
    flex: 1 1 auto;
  }
}

aside {
  @include tablet-landscape {
    flex: 0 0 300px;
    margin-left: 4rem;
    padding-left: 4rem;
    border-left: 1px solid $hairline-color;
  }
}

.aside--left {
  @include tablet-landscape {
    flex: 0 0 300px;
    margin-left: 0;
    padding-left: 0;
    margin-right: 4rem;
    padding-right: 4rem;
    border-left: none;
    border-right: 1px solid $hairline-color;
  }
}

section {
  margin-bottom: 4rem;
}

footer {
  flex: 0 0 auto;
  background-color: $white;
  margin-top: 4rem;
  padding: 4rem 0;
  border-top: 1px solid $hairline-color;
}