/* ----- LAYOUT ----- */

.full-width {
  display: table;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

section {
  margin-bottom: 3rem;
}

.with-border {
  border: 5px solid $secondary-color;
}

a .with-border:hover {
  border-color: $primary-color;
}


/*----- NOTICE -----*/
.notice {
  background-color: scale-color($primary-color, $lightness: 20%);
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

.permanent-notice {
  background-color: scale-color($primary-color, $lightness: 20%);
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}




/* ----- FOOTER -----*/

footer {
  margin-top: 5rem;
  padding: 2rem 0;
  width: 100%;
  height: auto;
  background-color: linen;
  bottom: 0px;
}


/* ----- PAGE ----- */

.featured_image {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: linen;
  height: 66%;
  @media #{$large-up} {
  };
  @media #{$small-only} {
    background-attachment: scroll;
  };
  @media #{$medium-only} {
    background-attachment: scroll;
  };
}

.featured_icon {
  position: relative;
  height: 50%;
  background-color: scale-color($primary-color, $lightness: 10%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 120%;
}

.featured_icon svg {
  position: absolute;
}

.image {
  height: 50%;
  position: relative;
  background-attachment: fixed;
  @media #{$small-only} {
    background-attachment: scroll;
  };
  @media #{$medium-only} {
    background-attachment: scroll;
  };
}

.icon_with_overlay {
  background-size: auto 150%;
  background-position: -5%;
  background-repeat: no-repeat;
  background-color: rgba(220, 64, 96, 0.86);
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro {
  @include display(flex);
  @include flex-direction(column);
  background: url(http://cdn.lunge.de/images/home/IMG_6565.JPG);
  padding-top: 5rem;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  @media #{$large-up} {
    background-repeat: no-repeat;
    background-position: center center;
  };
  @media #{$small-only} {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
  };
  @media #{$medium-only} {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
  };

  &:before {
    content: "";
    position: absolute;
    @include linear-gradient(top, #d82b4e, rgba(32, 36, 35, 0.68), $fallback: rgba(216, 43, 78, 0.0));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.intro-footer {
  @include flex(0 0 auto);
  color: #fff !important;
  padding: 4rem 0;
}

.intro-middle {
  @include display(flex);
  @include align-items(center);
  @include flex (1 1 auto);
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  padding: 5rem 0;
}

.fade {
  position: absolute;
  left: 1700px;
  width: 300px;
  height: 400px;
  background: 
    -webkit-linear-gradient(left, 
      rgba(245, 255, 250,0) 0%, 
      rgba(245, 255, 250,1) 100%
    );
}

.fade-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 350px;
  @include background-image(
    linear-gradient(top, 
      rgba(245, 255, 250,0) 0%, 
      rgba(245, 255, 250,1) 100%
    )
  );
}

.logo {
  width: 500px;
  margin: 0 auto 5rem auto;
  @media #{$small-only} {
    width: 240px;
  };

  img {
  }
}

.post {
  border-bottom: 5px solid $body-bg;
}