@import "variables";

:root {
	--bgColor-modal: #F7F7F9;

	--bgColor-alt: #FFF;

	--bgColor-buttonPrimary: #B6BE00;
	--bgColor-buttonPrimary-hover: #333;

	--color-link: #333;
	--color-link-hover: #B6BE00;

	--color-badge-active: #FFF;
	--bgColor-badge-active: #333;

	--color-badge-disabled: #333;
	--borderColor-badge-disabled: transparent;
	--bgColor-badge-disabled: #e6e6e6;

	--color-badge: #FFF;
	--bgColor-badge: #B6BE00;

	--borderColor-input-focus: #B6BE00;

	--bgColor-input-checked: #B6BE00;
	--borderColor-input-checked: #B6BE00;

	--color-icon: #333;
}

.snipcart {
	font-family: $body-font;
	font-size: 1rem;
	font-weight: 400;
}

.snipcart__font--black,
.snipcart__font--subtitle {
	font-family: $body-font;
	font-weight: 700;
}

.snipcart__font--regular {
	font-weight: 400;
}

.snipcart__font--std {
	font-size: 1rem;
}

.snipcart__font--secondary {
	font-family: $body-font;
}

.snipcart__font--slim {
	font-weight: 400;
}

.snipcart__font--tiny {
	font-size: 0.825rem;
}

.snipcart__font--bold {
	font-weight: 700;
}

.snipcart-form__select {
	border: 1px solid $hairline-color;
	font-weight: 700;
}

.snipcart-item-quantity__quantity {
	border: 1px solid $hairline-color;
	color: $black;
	font-weight: 700;
}

.snipcart__actions--link {
	color: $green;
	border-bottom: 1px solid $green;
	font-weight: 700;
}

.snipcart button {
	font-size: 1rem;
	font-weight: 700;
}

.snipcart button:hover {
	background-color: inherit;
}

button.snipcart-button-primary,
button.snipcart-button-secondary {
	background-color: $primary-color;
	color: #FFF;
}

button.snipcart-button-primary:hover,
button.snipcart-button-secondary:hover {
	background-color: $black;
	color: #FFF;
}

.snipcart-button-link {
	font-family: $body-font;
}

.snipcart-base-button__label {
	font-family: unset;
	font-size: unset;
	font-weight: unset;
}

.snipcart-modal__close {
	font-family: $body-font;
	font-weight: 700;
}

.snipcart-layout__header {
	width: 100%;
}

.snipcart-cart-header {
	background-color: $white;
	border-bottom: 1px solid $hairline-color;
	margin-bottom: 2rem;
	height: 4rem;
	width: 100%;

	@include tablet-portrait {
	}
}

.snipcart-item-line__media {
	margin-right: 1rem;

	@include tablet-landscape {
		margin-right: 2rem;
	}
}

.snipcart-cart__featured-payment-methods-container,
.snipcart-featured-payment-methods {
	display: none;
}

.snipcart__box {
	margin-bottom: 1rem;
}

input[type="checkbox"].snipcart-input__visibility-toggle {
	display: none;
}