/* ----- TYPOGRAPHY ----- */
body {
  font-family: $body-font;
  font-size: 100%;
  line-height: 1.5;
  color: $black;
}

p {
  margin: 1.25rem 0;
  width: 100%;
  max-width: 50em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

h1 {
  font-size: calc(1rem + 3.5vw);
  font-weight: 700;

  @include desktop {
    font-size: 4.7rem;
  }
}

h2 {
  font-size: calc(1rem + 2.369vw);
  font-weight: 700;

  @include-desktop {
    font-size: 2.369rem;
  }
}

h3 {
  font-size: 1.777rem;
}

h4 {
  font-size: 1.333rem;
}

h5 {
  font-size: 1rem;
}

.marginless--top {
  margin-top: 0;
}

.marginless--bottom {
  margin-bottom: 0;
}

marginless--bottom {
  margin-bottom: 0;
}

.title__brand {
  margin-bottom: 0;
}

.title__product {
  margin-top: 1rem;
}

.subtitle {
  margin: -0.5rem 0;
}

.light {
  opacity: 0.6;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.inverted {
  color: mintcream;
}

blockquote,
blockquote p {
  color: #999;
}

label {
  color: #999;
}

.strike {
  text-decoration: line-through;
}

.light {
  opacity: 0.7;
}

a.link,
.product__description a,
p a {
  border-bottom: 1px solid $black;
}

a.link:hover,
.product__description a:hover,
p a:hover {
  border-color: $primary-color;
  color: $primary-color;
}

a.link--inverted {
  color: #fff;
  border-bottom: 1px dotted #ccc;

  &:hover {
    border-color: #fff;
  }
}

code {
  background-color: $secondary-color;
  border: none;
}

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}