/* ----- TYPOGRAPHY ----- */

h1 {
  font-weight: 700;
}

h6 {
  font-weight: 400;
}

h5 {
  font-weight: 700;
}

.subtitle {
  margin: -0.5rem 0;
}

.light {
  opacity: 0.6;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.inverted {
  color: mintcream;
}

blockquote,
blockquote p {
  color: #999;
}

label {
  font-size: 0.875rem;
  color: inherit;
  opacity: 0.7;
  text-rendering: auto;
}

.strike {
  text-decoration: line-through;
}

.light {
  opacity: 0.7;
}

a.link {
  border-bottom: 1px dotted scale-color($primary-color, $lightness: 50%);

  &:hover {
    border-color: $primary-color;
  }
}

code {
  background-color: $secondary-color;
  border: none;
}