/* ----- TYPOGRAPHY ----- */
body {
  font-family: $body-font;
  font-size: 100%;
  line-height: 1.5;
  color: $black;
}

p {
  margin: 1.25rem 0;
  width: 100%;
  max-width: 50em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  line-height: 1.3;
}

h1 {
  font-size: 1.802rem;
  font-weight: 700;

  @include tablet-landscape {
    font-size: 3.052rem;
  }

  @include desktop {
    font-size: 4.209rem;
  }
}

h2 {
  font-size: 1.602rem;
  font-weight: 700;

  @include tablet-landscape {
    font-size: 2.441rem;
  }

  @include desktop {
    font-size: 3.157rem;
  }
}

h3 {
  font-size: 1.424rem;

  @include tablet-landscape {
    font-size: 1.953rem;
  }

  @include desktop {
    font-size: 2.369rem;
  }
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

.marginless--top {
  margin-top: 0;
}

.marginless--bottom {
  margin-bottom: 0;
}

marginless--bottom {
  margin-bottom: 0;
}

.title__brand {
  margin-bottom: 0;
}

.title__product {
  margin-top: 0;
  margin-bottom: 1rem;
}

.subtitle {
  margin: -0.5rem 0;
}

.light {
  opacity: 0.6;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.inverted {
  color: mintcream;
}

blockquote,
blockquote p {
  color: #999;
}

label {
  color: #999;
}

.strike {
  text-decoration: line-through;
}

.light {
  opacity: 0.7;
}

a.link,
.product__description a,
p a {
  border-bottom: 1px solid $black;
  display: inline;
}

a.link:hover,
.product__description a:hover,
p a:hover {
  border-color: $primary-color;
  color: $primary-color;
}

a.link--inverted {
  color: #fff;
  border-bottom: 1px solid #ccc;

  &:hover {
    border-color: #fff;
  }
}

pre {
  background-color: $secondary-color;
  padding: 0.5rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

code {
  background-color: $secondary-color;
  border: none;
  padding: 0.25rem;
}

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.small {
  font-size: 0.875rem;
}