.border-left {
  border-left: 1px solid $hairline-color;
}

.border-right {
  border-right: 1px solid $hairline-color;
}

.space-bottom {
  margin-bottom: 4rem;
}

.space-top {
  margin-top: 4rem;
}

.marginless--top {
	margin-top: 0;
}

.nowrap {
	white-space: nowrap;
}

.anchor-target::before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 6rem;
  margin-top: -6rem 
}