<!-- title bar -->
<%= content_for :title_bar do %>

	<div class="row">
		<div class="small-8 columns">
			<h1><%= @brand.name %></h1>
		</div>
		<div class="small-4 columns">
			<%= image_tag @brand.logo.url(:thumb), class: "right" %>
		</div>
	</div>

<% end %>


<!-- content -->



<div class="row">
	<div class="small-12 columns">
		<h4>Artikel</h4>

	  <dl class="sub-nav">
	    <dt>Filter:</dt>
	    <dd class="active"><a href="#">Beliebteste</a></dd>
	    <dd><a href="#">Frisch eingetroffen</a></dd>
	    <dd><a href="#">Angebote</a></dd>
	  </dl>

		
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">		
			<% @products.each do |product| %>
				<%= render partial: "products/card", locals: { product: product } %>
			<% end %>
		</ul>


	</div>

	<div class="small-12 medium-4 large-3 large-offset-1 columns">
		
	</div>
</div>