<!-- title bar -->
<%= content_for :title_bar do %>

	<div class="row">
		<div class="small-8 columns">
			<h1><%= @brand.name %></h1>
		</div>
		<div class="small-4 columns">
			<%= image_tag @brand.logo.url(:thumb), class: "right" %>
		</div>
	</div>

<% end %>


<!-- content -->



<div class="row">
	<div class="small-12 columns">
		<h4>Artikel</h4>

	  <dl class="sub-nav">
	    <dt>Filter:</dt>
	    <dd class="active"><a href="#">Beliebteste</a></dd>
	    <dd><a href="#">Frisch eingetroffen</a></dd>
	    <dd><a href="#">Angebote</a></dd>
	  </dl>

		<% if @products %>
			<%= render "products/card", collection: @products %>
		<% end %>

	</div>

	<div class="small-12 medium-4 large-3 large-offset-1 columns">
		
	</div>
</div>