ul.category-list
  - nested_set_options(Category) do |category|
    li style="padding-left: #{category.level*1}rem" class="category-list__item #{'category-list__item--active' if category == @category}"
      = link_to category.name, category_path(category), class: "link"