<ul class="no-bullet">
  <% nested_set_options(Category) do |category| %>
    <li style="padding-left:<%= "#{category.level*1}rem" %>" class="<%= "active inverted" if category == @category %>">
    	<%= link_to category.name, category_path(category) %>
    </li>
  <% end %>
</ul>