li
  a href=product_path(product)
    .item-horizontal-card
      .card-image-left
        = image_tag product.default_image(:card), class: "card-image-top"
      .card-content-right
        h5 = product.name
        p = product.color
        h6 = number_to_currency(product.current_price, unit: "€ ")