<%= content_for :title_bar do %>
	<div class="row">
		<div class="small-12 columns">
			<h1>Artikel hinzufügen</h1>
		</div>
	</div>
<% end %>

<%= render 'form' %>

<%= link_to 'Zurück', products_path %>
