<footer>

	<div class="row">

		<div class="small-12 medium-4 columns">
			<h6>Filialen</h6>
			<ul class="no-bullet">
				<% Store.all.order(city: :desc).each do |store| %>
					<li><%= link_to "#{store.city} / #{store.street}" %></li>
				<% end %>
			</ul>
		</div>

		<div class="small-12 medium-4 columns">
			<h6>Öffnungszeiten</h6>
			<p>
				<label>Montag - Freitag:</label>
				10:30 Uhr - 19:00 Uhr
			</p>
			<p>
				<label>Samstag</label>
				10:00 Uhr - 18:00 Uhr
			</p>
		</div>

		<div class="small-12 medium-4 columns">
			<h6>Lunge Manufaktur</h6>
			<p>
				Neben den Produkten etablierter Hersteller, finden Sie in unserem Sortiment natürlich auch unsere eigenen, in Deutschland gefertigten Lauf- und Bequemschuhe: Schadstofffrei, feinste Materialien und sorgfältige Verarbeitung.
			</p>
			<%= link_to "www.lunge.com", "http://www.lunge.com", class: "button small alert", target: "_blank" %>
		</div>

	</div>

</footer>