doctype html
html lang="de"
  head
    = render "layouts/shared/meta"
    = favicon_link_tag "favicon.ico"

    link rel="preconnect" href="https://app.snipcart.com"
    link rel="preconnect" href="https://cdn.snipcart.com"

    = stylesheet_link_tag "application"
    = csrf_meta_tags
    = stylesheet_link_tag "https://cdn.snipcart.com/themes/v3.3.1/default/snipcart.css"
    = stylesheet_link_tag "snipcart_overrides"
    = javascript_include_tag "https://analytics.lunge.de/js/index.js", async: true, defer: true, data: { "domain": "lunge.de" }
    javascript:
      window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }

  body
    = render "layouts/offcanvas_menu"
    = render "layouts/border"
    .overlay
    .content
      = render "layouts/header"
      .yield
        = yield
      = render "layouts/footer"
    = yield :popover
    = render "layouts/snipcart_overrides"
    
    = javascript_include_tag "application", data: { "turbolinks-eval": "false" }
    = javascript_include_tag "application-track"
    = javascript_include_tag "snipcart.js"

    javascript:
      document.addEventListener('snipcart.ready', () => {
        Snipcart.events.on('item.added', (cartItem) => {
          plausible('E-Commerce: Artikel zum Warenkorb hinzugefügt',{
            props: {
              Produkt: cartItem.name,
              Einzelpreis: cartItem.unitPrice
            }
          });
          console.log('item added to cart');
        });

        Snipcart.events.on('item.removed', (cartItem) => {
          plausible('E-Commerce: Artikel aus Warenkorb entfernt',{
            props: {
              Produkt: cartItem.name,
              Einzelpreis: cartItem.unitPrice
            }
          });
        });

        Snipcart.events.on('shipping.selected', (shippingMethod) => {
          plausible('E-Commerce: Versandmethode ausgewählt',{
            props: {
              Versandmethode: shippingMethod
            }
          });
        });

        Snipcart.events.on('cart.confirmed', (cartConfirmResponse) => {
          plausible('E-Commerce: Bestellung abgeschlossen');
          console.log('order completed');
        });

        Snipcart.events.on('cart.confirm.error', (confirmError) => {
          plausible('E-Commerce: Bestellung fehlgeschlagen',{
            props: {
              Fehler: confirmError
            }
          });
        });

        Snipcart.events.on('payment.failed', (paymentError) => {
          plausible('E-Commerce: Zahlung fehlgeschlagen',{
            props: {
              Fehler: paymentError
            }
          });
        });

      });