<h4>Tags</h4>
<div id="tag-cloud">
  <% if @tags %>
    <% tag_cloud Product.tagged_with(@tags).tag_counts.order(:name), %w[xs s m l xl] do |tag, css_class| %>
      <%= tag_cloud_item(tag.name) %>
    <% end %>
  <% else %>
    <% tag_cloud Product.tag_counts.order(:name), %w[xs s m l xl] do |tag, css_class| %>
      <%= tag_cloud_item(tag.name) %>
    <% end %>
  <% end %>
</div>
<hr>
<%= link_to "Filter aufheben", products_path, class: "small alert button expand" %>
